streamlit
pyaudio
wave
keyboard
threading
google-cloud-speech
google-cloud-texttospeech
google-auth
google-auth-oauthlib
google-auth-httplib2
google-auth-json
langchain
langchain-community
langchain-core
huggingface_hub
transformers
sentence-transformers
torch
numpy
pandas
